@mixin hover-sidebar-item($color) {
  border-right: 0 solid $color;
  transition: border-width 100ms linear;

  &:hover {
    border-right-width: rem-size(4);
  }
}

@mixin active-sidebar-item($color, $active-class) {
  border-right: 0 solid $color;
  transition: border-width 100ms linear;

  &.#{$active-class} {
    border-right-width: rem-size(4);
  }
}
