$transitionTime: (
  slow: $transitionTimeSlow,
  normal: $transitionTimeNormal,
  fast:  $transitionTimeFast
);

@mixin transition($att, $speed: 'slow', $delay:'') {
  // stylelint-disable declaration-block-no-redundant-longhand-properties
  transition-property: $att;
  transition-timing-function: $transitionEasing;
  transition-duration: map-get($transitionTime, $speed);
  transition-delay: map-get($transitionTime, $delay);
  // stylelint-enable declaration-block-no-redundant-longhand-properties
}
