@mixin border-radius($radius, $tlr...) {
  @each $tl in $tlr {
    @if $tl == 'tl' {
      border-top-left-radius: $radius;
    }
    @else if $tl == 'tr' {
      border-top-right-radius: $radius;
    }
    @else if $tl == 'br' {
      border-bottom-right-radius: $radius;
    }
    @else if $tl == 'bl' {
      border-bottom-left-radius: $radius;
    }
    @else if $tl == 'all' {
      border-radius: $radius;
    }
    @else if $tl == 'none' {
      border-radius: 0;
    }
  }
}
