$main: content, form, footer, tooltip, hero-bar, navigation, cta, content-overlay, subheader, twelve-week-program-bar, shoppingcart, header, iframe, close-button, nested-route-page, fireworks, modal, progress;
$form: fields, icon-input, success, error, dropdown, input-placeholder;
$stack: bottom, middle, top;
$liveEvent: content, sides, header, modals;

/**
 * Z-Index function
 * @param {string} $list (Array) - The list to find the current z-index in
 * @param {string} $element (String) - The name of the current element, must be in the $list
 * @returns {number}
 */
@function zindex($list, $element) {
  $index: index($list, $element);

  @if $index {
    @return $index * 10;
  }

  @warn 'There is no item "#{$element}" in this list; choose one of: #{$list}';
  @return null;
}
